
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Planet>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListManage</title>
</head>
<body>
    <div>
        <br /><h3>Текущие планеты:</h3><br />
        <table class="table table-striped">
            <thead class="">
                <tr>
                    <th>Название</th>
                    <th>Координаты</th>
                    <th>Масса</th>
                </tr>
            </thead>
            @foreach (var element in Model)
            {
            <tr>
                <td><p>@element.name</p></td>
                <td><p>@element.x, @element.y</p></td>
                <td><p>@element.mass</p></td>
                <td>@Html.ActionLink("Удалить","Delete", "Home", new { id = element.name }, new { @class = "btn btn-danger", @style = "color:white" })</td>
            </tr>
            }
            
           
        </table>

        <br><p>
            <button class="btn btn-default" onclick="location.href ='/Home/Add/'">Добавить</button>
        </p><br>
        <button class="btn btn-primary btn-lg" onclick="location.href ='/Home/Count/'">Посчитать</button>
    </div>
</body>
</html>
